<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
  <add key="Map" value="Hanamura, Volskaya Industries, Horizon Lunar Colony, Watchpoint: Gibraltar, Dorado, Junkertown, King's Row, Hollywood, Blizzard World, Lijang tower, Oasis, Busan"/>
    </appSettings>
</configuration>